<div class="p-10">
  <h2>Crear usuario</h2>

  @if(loading) {
  <spinner />
  } @else {
  <form [formGroup]="formUser">
    <div class="grid gap-4">
      <div class="flex gap-4">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input type="text" matInput formControlName="lastname" />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>CUIT</mat-label>
        <input type="text" matInput formControlName="cuit" />
        <mat-hint>Solo numeros</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Domicilio</mat-label>
        <input type="text" matInput formControlName="domicile" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input type="text" matInput formControlName="phone" />
        <mat-hint>Solo numeros</mat-hint>
      </mat-form-field>
    </div>
  </form>

  <div class="flex justify-end gap-2">
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="formUser.invalid"
    >
      Crear
    </button>

    <button mat-stroked-button mat-dialog-close>Cancelar</button>
  </div>
  }
</div>
